# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Django
db.sqlite3
*.log
staticfiles/
media/

# Environment variables
.env

# Testing / cache
.pytest_cache/
.coverage
htmlcov/

# Type checkers / linters
.mypy_cache/
.pyre/
.ruff_cache/

# IDE / editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
inventary/inventory_app/migrations/0003_restockorder.py
